@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

body {
	font-family: 'Frutiger LT 57 Cn';
	background-image: url(../images/bgBodyRed.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center top;
	color: #FFF;
	background-color: #000;
}
a {
	color: #10B5E4;
}


#container {
	width:978px;
	/* [disabled]height:1000px; */
	z-index:1;
	margin: 0 auto;
	background-image: url(../images/bgContainer.png);
	background-repeat: no-repeat;
	background-position: center 101px;
}
#container #welcome {
	height: 50px;
	width: 581px;
	/* [disabled]border: 1px solid #FFF; */
	background-image: url(../images/welcome.png);
	background-position: center bottom;
	text-indent: -9999px;
	z-index: 5;
	clear: both;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	background-repeat: no-repeat;
}
#container #mainNav {
	/* [disabled]border: 1px solid #0F0; */
	width: 253px;
	list-style-type: none;
	height: 350px;
	float: left;
}
li#btHome a:link {
	background-image: url(../images/bg_btHome_link.png);
	background-repeat: no-repeat;
	height: 77px;
	width: 253px;
	background-position: 0px 0px;
	clear: both;
	float: left;
	text-indent: -9999px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}


li#btHome a:visited {
	background-image: url(../images/bg_btHome_link.png);
	background-repeat: no-repeat;
	height: 77px;
	width: 253px;
	background-position: 0px 0px;
	clear: both;
	float: left;
	text-indent: -9999px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

li#btHome a:hover {
	background-image: url(../images/bg_btHome_hover.png);
	background-repeat: no-repeat;
	height: 77px;
	width: 253px;
	background-position: 0px 0px;
	clear: both;
	float: left;
	text-indent: -9999px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
li#btHome a:active {
	background-image: url(../images/bg_btHome_hover.png);
	background-repeat: no-repeat;
	height: 77px;
	width: 253px;
	background-position: 0px 0px;
	clear: both;
	float: left;
	text-indent: -9999px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
li#btShows a:link {
	background-image: url(../images/bg_btShows_link.png);
	background-repeat: no-repeat;
	height: 35px;
	width: 253px;
	background-position: 0px 0px;
	clear: both;
	float: left;
	text-indent: -9999px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
li#btShows a:visited {
	background-image: url(../images/bg_btShows_link.png);
	background-repeat: no-repeat;
	height: 35px;
	width: 253px;
	background-position: 0px 0px;
	clear: both;
	float: left;
	text-indent: -9999px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
li#btShows a:hover {
	background-image: url(../images/bg_btShows_hover.png);
	background-repeat: no-repeat;
	height: 35px;
	width: 253px;
	background-position: 0px 0px;
	clear: both;
	float: left;
	text-indent: -9999px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
li#btShows a:active {
	background-image: url(../images/bg_btShows_hover.png);
	background-repeat: no-repeat;
	height: 35px;
	width: 253px;
	background-position: 0px 0px;
	clear: both;
	float: left;
	text-indent: -9999px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}




li#btMultimedia a:link {
	background-image: url(../images/bg_btMultimedia_link.png);
	background-repeat: no-repeat;
	height: 43px;
	width: 253px;
	background-position: 0px 0px;
	clear: both;
	float: left;
	text-indent: -9999px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
li#btMultimedia a:visited {
	background-image: url(../images/bg_btMultimedia_link.png);
	background-repeat: no-repeat;
	height: 43px;
	width: 253px;
	background-position: 0px 0px;
	clear: both;
	float: left;
	text-indent: -9999px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
li#btMultimedia a:hover {
	background-image: url(../images/bg_btMultimedia_hover.png);
	background-repeat: no-repeat;
	height: 43px;
	width: 253px;
	background-position: 0px 0px;
	clear: both;
	float: left;
	text-indent: -9999px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
li#btMultimedia a:active {
	background-image: url(../images/bg_btMultimedia_hover.png);
	background-repeat: no-repeat;
	height: 43px;
	width: 253px;
	background-position: 0px 0px;
	clear: both;
	float: left;
	text-indent: -9999px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}



li#btTheBand a:link {
	background-image: url(../images/bg_btTheBand_link.png);
	background-repeat: no-repeat;
	height: 41px;
	width: 253px;
	background-position: 0px 0px;
	clear: both;
	float: left;
	text-indent: -9999px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
li#btTheBand a:visited {
	background-image: url(../images/bg_btTheBand_link.png);
	background-repeat: no-repeat;
	height: 41px;
	width: 253px;
	background-position: 0px 0px;
	clear: both;
	float: left;
	text-indent: -9999px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
li#btTheBand a:hover {
	background-image: url(../images/bg_btTheBand_hover.png);
	background-repeat: no-repeat;
	height: 41px;
	width: 253px;
	background-position: 0px 0px;
	clear: both;
	float: left;
	text-indent: -9999px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
li#btTheBand a:active {
	background-image: url(../images/bg_btTheBand_hover.png);
	background-repeat: no-repeat;
	height: 41px;
	width: 253px;
	background-position: 0px 0px;
	clear: both;
	float: left;
	text-indent: -9999px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}



li#btContact a:link {
	background-image: url(../images/bg_btContact_link.png);
	background-repeat: no-repeat;
	height: 38px;
	width: 253px;
	background-position: 0px 0px;
	clear: both;
	float: left;
	text-indent: -9999px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
li#btContact a:visited {
	background-image: url(../images/bg_btContact_link.png);
	background-repeat: no-repeat;
	height: 38px;
	width: 253px;
	background-position: 0px 0px;
	clear: both;
	float: left;
	text-indent: -9999px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
li#btContact a:hover {
	background-image: url(../images/bg_btContact_hover.png);
	background-repeat: no-repeat;
	height: 38px;
	width: 253px;
	background-position: 0px 0px;
	clear: both;
	float: left;
	text-indent: -9999px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
li#btContact a:active {
	background-image: url(../images/bg_btContact_hover.png);
	background-repeat: no-repeat;
	height: 67px;
	width: 253px;
	background-position: 0px 0px;
	clear: both;
	float: left;
	text-indent: -9999px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

li#btWebstore a:link {
	background-image: url(../images/bg_btWebstore_link.png);
	background-repeat: no-repeat;
	height: 61px;
	width: 253px;
	background-position: 0px 0px;
	clear: both;
	float: left;
	text-indent: -9999px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
li#btWebstore a:visited {
	background-image: url(../images/bg_btWebstore_link.png);
	background-repeat: no-repeat;
	height: 61px;
	width: 253px;
	background-position: 0px 0px;
	clear: both;
	float: left;
	text-indent: -9999px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
li#btWebstore a:hover {
	background-image: url(../images/bg_btWebstore_hover.png);
	background-repeat: no-repeat;
	height: 61px;
	width: 253px;
	background-position: 0px 0px;
	clear: both;
	float: left;
	text-indent: -9999px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
li#btWebstore a:active {
	background-image: url(../images/bg_btWebstore_hover.png);
	background-repeat: no-repeat;
	height: 61px;
	width: 253px;
	background-position: 0px 0px;
	clear: both;
	float: left;
	text-indent: -9999px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

#container #secNav {
	height: 350px;
	width: 221px;
	/* [disabled]border: 1px solid #F00; */
	float: right;
	list-style-type: none;
}
li#btJoinUs a:link {
	background-image: url(../images/bg_btJoinUs_link.png);
	background-repeat: no-repeat;
	clear: both;
	height: 77px;
	width: 221px;
	float: left;
	text-indent: -9999px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
li#btJoinUs a:visited {
	background-image: url(../images/bg_btJoinUs_link.png);
	background-repeat: no-repeat;
	clear: both;
	height: 77px;
	width: 221px;
	float: left;
	text-indent: -9999px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
li#btJoinUs a:hover {
	background-image: url(../images/bg_btJoinUs_hover.png);
	background-repeat: no-repeat;
	clear: both;
	height: 77px;
	width: 221px;
	float: left;
	text-indent: -9999px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
li#btJoinUs a:active {
	background-image: url(../images/bg_btJoinUs_hover.png);
	background-repeat: no-repeat;
	clear: both;
	height: 77px;
	width: 221px;
	float: left;
	text-indent: -9999px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}



li#btFollowUs a:link {
	background-image: url(../images/bg_btFollowUs_link.png);
	background-repeat: no-repeat;
	clear: both;
	height: 47px;
	width: 221px;
	float: left;
	text-indent: -9999px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
li#btFollowUs a:visited {
	background-image: url(../images/bg_btFollowUs_link.png);
	background-repeat: no-repeat;
	clear: both;
	height: 47px;
	width: 221px;
	float: left;
	text-indent: -9999px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
li#btFollowUs a:hover {
	background-image: url(../images/bg_btFollowUs_hover.png);
	background-repeat: no-repeat;
	clear: both;
	height: 47px;
	width: 221px;
	float: left;
	text-indent: -9999px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
li#btFollowUs a:active {
	background-image: url(../images/bg_btFollowUs_hover.png);
	background-repeat: no-repeat;
	clear: both;
	height: 47px;
	width: 221px;
	float: left;
	text-indent: -9999px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}



li#btWatchUs a:link {
	background-image: url(../images/bg_btWatchUs_link.png);
	background-repeat: no-repeat;
	clear: both;
	height: 49px;
	width: 221px;
	float: left;
	text-indent: -9999px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
li#btWatchUs a:visited {
	background-image: url(../images/bg_btWatchUs_link.png);
	background-repeat: no-repeat;
	clear: both;
	height: 49px;
	width: 221px;
	float: left;
	text-indent: -9999px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
li#btWatchUs a:hover {
	background-image: url(../images/bg_btWatchUs_hover.png);
	background-repeat: no-repeat;
	clear: both;
	height: 49px;
	width: 221px;
	float: left;
	text-indent: -9999px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
li#btWatchUs a:active {
	background-image: url(../images/bg_btWatchUs_hover.png);
	background-repeat: no-repeat;
	clear: both;
	height: 49px;
	width: 221px;
	float: left;
	text-indent: -9999px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}



li#btHearUs a:link {
	background-image: url(../images/bg_btHearUs_link.png);
	background-repeat: no-repeat;
	clear: both;
	height: 67px;
	width: 221px;
	float: left;
	text-indent: -9999px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
li#btHearUs a:visited {
	background-image: url(../images/bg_btHearUs_link.png);
	background-repeat: no-repeat;
	clear: both;
	height: 67px;
	width: 221px;
	float: left;
	text-indent: -9999px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
li#btHearUs a:hover {
	background-image: url(../images/bg_btHearUs_hover.png);
	background-repeat: no-repeat;
	clear: both;
	height: 67px;
	width: 221px;
	float: left;
	text-indent: -9999px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
li#btHearUs a:active {
	background-image: url(../images/bg_btHearUs_hover.png);
	background-repeat: no-repeat;
	clear: both;
	height: 67px;
	width: 221px;
	float: left;
	text-indent: -9999px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#container #intro {
	height: 123px;
	width: 812px;
	/* [disabled]float: left; */
	/* [disabled]border: 1px solid #FF0; */
	background-image: url(../images/bgIntro.png);
	background-repeat: no-repeat;
	background-position: center top;
	clear: both;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 30;
	margin-left: auto;
	padding-bottom: 30px;
}
#container #invisibleBar {
	height: 1px;
	width: 812px;
	/* [disabled]float: left; */
	/* [disabled]border: 1px solid #FF0; */
	background-repeat: no-repeat;
	background-position: center top;
	clear: both;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 30px;
}

#container #intro p {
	color: #FFF;
	font-size: 18px;
	letter-spacing: 0.1em;
	line-height: 1.8em;
	font-weight: bold;
	text-align: center;
	padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
#container #newsTitle {
	background-image: url(../images/bgNewsTitle.png);
	background-repeat: no-repeat;
	background-position: right 0px;
	height: 87px;
	width: 140px;
	/* [disabled]border: 1px solid #3F0; */
	text-indent: -9999px;
	float: left;
	clear: left;
}
#container #archiveSubtitle {
	background-image: url(../images/bg_archiveTitle.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 87px;
	width: 235px;
	/* [disabled]border: 1px solid #3F0; */
	text-indent: -9999px;
	float: left;
}

#container #multimediaTitle {
	background-image: url(../images/bgMultimediaTitle.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 87px;
	width: 235px;
	/* [disabled]border: 1px solid #3F0; */
	text-indent: -9999px;
	float: left;
}
#container #showsTitle {
	background-image: url(../images/bgShowsTitle.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 87px;
	width: 235px;
	/* [disabled]border: 1px solid #3F0; */
	text-indent: -9999px;
	float: left;
}

#container #theBandTitle {
	background-image: url(../images/bgtheBandTitle.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 87px;
	width: 235px;
	/* [disabled]border: 1px solid #3F0; */
	text-indent: -9999px;
	float: left;
}
#container #merchandiseTitle {
	background-image: url(../images/bgmerchandiseTitle.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 87px;
	width: 235px;
	/* [disabled]border: 1px solid #3F0; */
	text-indent: -9999px;
	float: left;
}


#container #contactTitle {
	background-image: url(../images/bgContactTitle.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 87px;
	width: 235px;
	/* [disabled]border: 1px solid #3F0; */
	text-indent: -9999px;
	float: left;
}
#container #archiveTitle {
	background-image: url(../images/bg_archiveTitle.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 87px;
	width: 235px;
	/* [disabled]border: 1px solid #3F0; */
	text-indent: -9999px;
	float: left;
}
#container #webstoreTitle {
	background-image: url(../images/bgWebstoreTitle.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 87px;
	width: 235px;
	/* [disabled]border: 1px solid #3F0; */
	text-indent: -9999px;
	float: left;
}
.onlineShops {
	float: left;
	/* [disabled]clear: both; */
}
.onlineShops ul {
	/* [disabled]width: 350px; */
	list-style-type: circle;
	margin-left: 20px;
}

.onlineShops ul li {
	/* [disabled]float: left; */
	display: list-item;
	/* [disabled]padding: 5px; */
	/* [disabled]border: 1px solid #0F0; */
	margin-right: 10px;
}
#container #content .product{
	padding-left: 20px;
	clear: both;
	margin-bottom: 20px;
	/* [disabled]padding-bottom: 20px; */
	float: left;
	/* [disabled]width: 670px; */
}
.pic   {
	float: left;
	/* [disabled]height: 120px; */
	/* [disabled]width: 120px; */
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	/* [disabled]clear: both; */
	margin-right: 20px;
}
#container #content .product p{
	float: left;
	margin-top: 10px;
	width: 220px;
	/* [disabled]border: 1px solid #0F0; */
	line-height: 1.2em;
	letter-spacing: normal;
	padding-right: 20px;
}

#container #content .product form{
	float: left;
	width: 250px;
	margin-top: 10px;
}






#container #content {
	float: right;
	height: auto;
	border-left: solid #FFF 2px;
	/* [disabled]clear: both; */
	width: 720px;
	background-image: url(../images/bgBlackTrans.png);
	background-repeat: repeat;
}
#container #contentHomeSpecial {
	float: left;
	height: auto;
	border-left: solid #FFF 2px;
	/* [disabled]clear: both; */
	width: 474px;
	margin-left: 30px;
	padding-left: 10px;
	text-align: justify;
}
#container #rightColumn {
	float: right;
	width: 300px;
}
#container #rightColumn p a img {
	margin-bottom: 10px;
	border: 1px solid #FFF;
}
#container #contentHomeSpecial p a {
	font-weight: bold;
	color: #FC0;
	text-decoration: underline;
}
#container #content img {
	margin-left: 10px;
	border: 1px solid #FFF;
	margin-top: 10px;
	margin-bottom: 10px;
}




#container #content p {
	font-size: 16px;
	line-height: 1.8em;
	text-align: justify;
	padding-left: 20px;
	padding-right: 90px;
	/* [disabled]margin-bottom: 10px; */
}
#container #content h1 {
	font-size: 22px;
	line-height: 1.8em;
	text-align: justify;
	margin-top: 10px;
	margin-bottom: 5px;
	border-bottom-style: solid;
	border-bottom-color: #0EBCDF;
	margin-left: 20px;
	margin-right: 90px;
	clear: both;
}
ul.bandMembers {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666;
	margin-bottom: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
	/* [disabled]margin-left: 10px; */
}
.bandMembers li img {
	border: 1px solid #CCC;
	float: right;
	margin-right: 90px;
	clear: right;
	margin-top: 0px;
	margin-bottom: 15px;
	margin-left: 30px;
}
.band  {
	border: 1px solid #CCC;
	margin-top: 15px;
	margin-bottom: 15px;
}




.highlightOrange {
	color: #F69D23;
}
#container #content .date  {
	font-size: 14px;
	font-style: italic;
}
ul {
	list-style-type: none;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 10px;
	/* [disabled]padding-right: 90px; */
	/* [disabled]list-style-position: inside; */
}
li {
	margin-top: 2px;
	margin-bottom: 2px;
}
#container #content ul li a {
	color: #0DBAE4;
	text-decoration: none;
	background-color: #003D4E;
}
#container #content .unityVideos {
	border: thin solid #0F0;
	height: auto;
	width: 615px;
	float: left;
}
#container #content .unityVideos #ytvideo1 {
	float: left;
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#container #content .unityVideos ul {
	/* [disabled]float: left; */
	margin: 0px;
}
#container #content .unityVideos .unity1 li {
	background-color: #000;
	padding: 3px;
}

#container #content .unityVideos a.videoTitle{
	font-family: 'Frutiger LT 57 Cn';
	font-size: 14px;
}






#credits {
	clear: both;
	height: 20px;
	width: 960px;
	padding-top: 20px;
	margin: 0 auto;
	padding-bottom: 10px;
}
#credits p {
	text-align: center;
	line-height: 20px;
	vertical-align: middle;
	letter-spacing: 0.1em;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #999;
	font-size: 12px;
}
#credits p a:link {
	color: #FC0;
	text-decoration: none;
}
#credits p a:visited {
	color: #FC0;
	text-decoration: none;
}
#credits p a:hover {
	color: #FC0;
	text-decoration: underline;
}
#credits p a:active {
	color: #FC0;
	text-decoration: underline;
}
h6 {
	clear: both;
}
.smallText {
	font-size: 11px;
}
#container #content .product form {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFF;
	padding-left: 15px;
}
